@font-face {
  font-family: 'LT Wave';
  src: url('/assets/fonts/LTWave-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LT Wave';
  src: url('/assets/fonts/LTWave-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LT Wave';
  src: url('/assets/fonts/LTWave-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LT Wave';
  src: url('/assets/fonts/LTWave-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LT Wave';
  src: url('/assets/fonts/LTWave-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LT Wave';
  src: url('/assets/fonts/LTWave-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
